  name: Build and Push Docker Image

  on:
    push:
      branches:
        - main
    workflow_dispatch:

  jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Login to Docker Hub
          uses: docker/login-action@v3
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}

        - name: Build and push
          uses: docker/build-push-action@v5
          with:
            context: .
            platforms: linux/amd64,linux/arm64
            push: true
            tags: |
              loteran/aatm-web-api:latest
              loteran/aatm-web-api:${{ github.sha }}
            cache-from: type=gha
            cache-to: type=gha,mode=max

        - name: Update Docker Hub Description
          uses: peter-evans/dockerhub-description@v4
          with:
            username: ${{ secrets.DOCKERHUB_USERNAME }}
            password: ${{ secrets.DOCKERHUB_TOKEN }}
            repository: loteran/aatm-web-api
            readme-filepath: ./DOCKERHUB.md
